<body style="background-color: #242424;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-right: 2%">
            <a><img height="50" src="{{user.ig_profilepic}}" class="img-circle" ></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <li><p class="nav navbar-left" style="color: #f9f9f9; padding-top: 20%">{{user.username}}</p></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron" style="margin-bottom: 0px; background-color: #242424">
    <h1 class="text-center" style="color: #f9f9f9">Welcome {{user.name}}</h1>
</div>
<a href="c3followsvisualization" class="btn btn-info btn-lg center-block">
    <span class="glyphicon glyphicon-user"></span> Followers Comparison
</a>
<a href="/c3visualization" class="btn btn-info btn-lg center-block">
    <span class="glyphicon glyphicon-plus"></span> Media Counts Using C3
</a>

<a href="/visualization" class="btn btn-info btn-lg center-block">
    <span class="glyphicon glyphicon-plus"></span> Media Counts Using D3
</a>
<a href="/d3visualization" class="btn btn-info btn-lg center-block">
    <span class="glyphicon glyphicon-plus"></span> Home made D3
</a>
</body>



