<h1> Media Count of Your Instagram Followers using C3JS </h1>
<div id="chart"></div>


<button class="btn btn-default" onclick="loadPrev()">Previous</button>
<button class="btn btn-default" onclick="loadNext()">Next</button>

<script src="js/c3igfollowersvis.js"></script>