<body style="background-color: #242424">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-right: 2%">

            <a><img height="50" src="{{user.ig_profilepic}}" class="img-circle" ></a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <li role="presentation" ><a href="/account" >Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p class="text-center" style="font-size: 200%; color: #f9f9f9"><span class="glyphicon glyphicon-camera"></span> Media Count of Your Instagram Followers</p>
<button id="loader" class="btn btn-lg btn-warning " style="margin-left: auto;margin-right: auto;display: block">
    <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
</button>

<div id="chart"></div>
<div class="container">
    <label style="color: #f9f9f9"><input type="checkbox"> Sort values</label>
<script src="js/visualization.js"></script>
    </div>
<div id="userInfo" class="container" style="display: none">
    <div class="jumbotron" style="margin-top: 30px">

        <img id="profpic" style="margin-left: auto;margin-right: auto;display: block">
        <p id="usernm">Click on Bars to get more user info
        </p>
        <p id="bio">
        </p>
    </div>
</div>
</body>


